$def with (scraper)

<form action='/ringer' method='POST'>
	<input type='checkbox' name='0' value='0'>$scraper.get_title(0)
	<br/>
	<input type='checkbox' name='1' value='1'>$scraper.get_title(1)
	<br/>
	<input type='checkbox' name='2' value='2'>$scraper.get_title(2)
	<br/>
	<input type='checkbox' name='3' value='3'>$scraper.get_title(3)
	<br/>
	<input type='checkbox' name='4' value='4'>$scraper.get_title(4)
	<br/>
	<input type='checkbox' name='5' value='5'>$scraper.get_title(5)
	<br/>
	<input type='checkbox' name='5' value='5'>$scraper.get_title(6)
	<br/>
	<input type='checkbox' name='5' value='5'>$scraper.get_title(7)
	<br/>
	<input type='submit'>
</form>
